extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum illo totam quos velit, temporibus asperiores! Corporis qui natus unde iusto quos quidem. Quibusdam debitis corporis autem iusto, eaque quidem id?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut consectetur soluta assumenda culpa fugiat mollitia praesentium dolore, quibusdam, molestiae illo veritatis dolorem recusandae nulla reiciendis, dolores corporis et nemo corrupti!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum veritatis tenetur soluta! Unde aspernatur assumenda mollitia, fuga ipsum magni eos. Illo ad officiis maxime eos autem pariatur, quod fugit deleniti?
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="iconos", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora esse dolor quos consectetur ea totam blanditiis, magni doloremque sunt accusamus nobis quaerat ex porro natus, ad reiciendis veniam quidem.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="iconos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora esse dolor quos consectetur ea totam blanditiis, magni doloremque sunt accusamus nobis quaerat ex porro natus, ad reiciendis veniam quidem.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="iconos", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora esse dolor quos consectetur ea totam blanditiis, magni doloremque sunt accusamus nobis quaerat ex porro natus, ad reiciendis veniam quidem.